# Introdução à Ciência de Dados - UFPB
Professor: Yuri Malheiros

## Pandas

A partir do dataset `movies.csv` utilize o Pandas para responder as seguintes perguntas:

### Qual o gênero de filme mais lucrativo em todo o mundo?

In [1]:
# ADICIONE O SEU CÓDIGO AQUI

import pandas as pd

movies_df = pd.read_csv("datasets/movies.csv")
movies_df.sort_values(by="Worldwide Gross", ascending = False)[["Worldwide Gross","Major Genre"]]
movies_df.iloc[1234][["Worldwide Gross","Major Genre"]]

Worldwide Gross    2767891499.0
Major Genre              Action
Name: 1234, dtype: object

### Qual o diretor dirigiu mais filmes?

In [2]:
# ADICIONE O SEU CÓDIGO AQUI
from collections import Counter

movies_df["Director"]
Directors = movies_df["Director"].value_counts()

print("Steven Spielberg dirigiu mais filmes")
Directors

Steven Spielberg dirigiu mais filmes

Steven Spielberg      23
Woody Allen           16
Martin Scorsese       15
Spike Lee             15
Ridley Scott          14
                      ..
Tony Bill              1
David Mamet            1
Christophe Gans        1
Billy Bob Thornton     1
Michael O. Sajbel      1
Name: Director, Length: 550, dtype: int64

### Quais filmes tiverem os maiores arrecadações (Gross) em relação ao orçamento de produção (Budget)?

In [3]:
# ADICIONE O SEU CÓDIGO AQUI
movies_df["Lucro Bruto"] = movies_df["US Gross"] - movies_df["Production Budget"]
movies_df.sort_values(by="Lucro Bruto", ascending = False)[["Title","US Gross","Production Budget","Lucro Bruto"]]

,Title,US Gross,Production Budget,Lucro Bruto
1234,Avatar,760167650.0,237000000.0,523167650.0
912,Star Wars Ep. IV: A New Hope,460998007.0,11000000.0,449998007.0
296,ET: The Extra-Terrestrial,435110554.0,10500000.0,424610554.0
2970,Titanic,600788188.0,200000000.0,400788188.0
2741,Shrek 2,441226247.0,70000000.0,371226247.0
...,...,...,...,...
404,Hell's Angels,NaN,4000000.0,NaN
467,Intolerance,NaN,385907.0,NaN
1025,Waterloo,NaN,25000000.0,NaN
1028,Wings,NaN,2000000.0,NaN
1271,Baby Mama,60494212.0,NaN,NaN